body
{
  background-color: #08B4AA;
  background-image: url('../img/treefort-music-fest-stacked.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-attachment: fixed;
  background-position: center;
}
